body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-shadow: white 2px;
}

.col-2 {
  border: 1px solid black;
  height: 100px;
  background-color: white;
  opacity: 0.5;
}

.col-3 {
  border: 1px solid black;
  height: 200px;
  background-color: white;
  opacity: 0.5;
}

#chatbox {
  border: 1px solid black;
  height: 350px;
  background-color: white;
  opacity: 0.5;
}

#dicebox {
  border: 1px solid black;
  height: 350px;
  background-color: white;
  opacity: 0.5;
}

.col-6 {
  border: 1px solid black;
  height: 200px;
  background-color: white;
  opacity: 0.0;
}

.col-10 {
  border: 1px solid black;
  height: 200px;
  background-color: white;
  opacity: 0.0;
}

select {
  width: 25%;
}

h1 {
  text-shadow: grey 2px 2px;
  font-family: 'Franklin Gothic Medium';
  font-style: italic;
}

#playerOne {
  border: 15px solid transparent;
  padding: 15px;
  border-image:url(border.png) 40% stretch;
}
