<link rel="stylesheet" href="~/css/styles.css" />
<h1> Welcome to Virtual Dm Screen </h1>

@using VirtualDmScreen.Models

@if (@User.IsInRole("DM"))
{
 <select id="Status" name="Status" onchange="changeBackground(document.getElementsByTagName('BODY')[0], this);" class="form-control">
    <option style="background-image: url('/img/party.jpg');" value="party">Party of Adventurers</option>
    <option style="background-image: url('/img/reddragon.jpg');" value="redDragon">Red Dragon</option>
    <option style="background-image: url('/img/whitedragon.jpg');" value="whiteDragon">White Dragon</option>
    <option style="background-image: url('/img/firebreath.jpg');" value="fireBreath">FireBreath</option>
  </select>
  <script>
    function changeBackground(body, selectElement) {
      selectElement.options[selectElement.selectedIndex].style.backgroundImage
      body.setAttribute('style', 'background-image: ' + selectElement.options[selectElement.selectedIndex].style.backgroundImage + ';');
    }
  </script>
}
else
{
    <p>Blank's Screen</p>
}
  <hr>

<div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Chat Box</h5>
                <p>Some text here!</p>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3">
                <h5>Dice Box</h5>
                <p>Some text here!</p>
            </div>
        </div>
    <div>
        @* Empty Box *@
        <div class="row">
            <div class="col-2" id="emptyBox">
                  <p>@Html.ActionLink("Register/Login", "Index", "Account", null, new { id="OT", style = "color:black;text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;" })</p>
                  <p>@Html.ActionLink("Home", "Index", "Home")</p>
            </div>
        @* Player One *@
            <div class="col-2" id="playerOne">
                <h5>Player One</h5>
                <input type="button" value="Character Select" onclick="window.open('/Characters/Create', 'Characters', 'left=100,top=100,width=400,height=300');" />
                <input type="button" value="Load Image" id="image1" onclick="loadImage1(this);" class="form-control" >
                    <script>
                        function loadImage1(element)
                        {
                           backgroundImage: url('${Character.ImageUrl});
                           background-repeat: no-repeat;
                        }
                    </script>
            </div>
        @* Player Two *@
            <div class="col-2" id="playerTwo">
                <h5>Player Two</h5>
                <input type="button" value="Character Select" onclick="window.open('/Characters/Create', 'Characters', 'left=100,top=100,width=400,height=300');" />
            </div>
        @* Player Three *@
            <div class="col-2" id="playerThree">
                <h5>Player Three</h5>
                <input type="button" value="Character Select" onclick="window.open('/Characters/Create', 'Characters', 'left=100,top=100,width=400,height=300');" />       
            </div>
        @* Player Four *@
            <div class="col-2" id="playerFour">
                <h5>Player Four</h5>
                <input type="button" value="Character Select" onclick="window.open('/Characters/Create', 'Characters', 'left=100,top=100,width=400,height=300');" />
            </div>
        @* Player Five *@
            <div class="col-2" id="playerFive">
                <h5>Player Five</h5>
                <input type="button" value="Character Select" onclick="window.open('/Characters/Create', 'Characters', 'left=100,top=100,width=400,height=300');" />
            </div>
        </div>
    </div>
  </div>
