@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Register/Login", "Index", "Account")</p>
    <p>@Html.ActionLink("Authentication Test Page", "Index", "AuthenticationTest")</p>
    <p>@Html.ActionLink("Game On", "GamePage", "Home")</p> 
</div>
