@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Register/Login", "Index", "Account")</p>
    <p>@Html.ActionLink("Authentication Test Page", "Index", "AuthenticationTest")</p>
</div>
