<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1> Welcome to D&D </h1>
@{
  Layout = "_Layout";
}

 <select id="Status" name="Status" onchange="changeBackground(document.getElementsByTagName('BODY')[0], this);" class="form-control">
    <option style="background-image: url('/img/party.jpg');" value="party">Party of Adventurers</option>
    <option style="background-image: url('/img/reddragon.jpg');" value="redDragon">Red Dragon</option>
    <option style="background-image: url('/img/whitedragon.jpg');" value="whiteDragon">White Dragon</option>
        <option style="background-image: url('/img/firebreath.jpg');" value="fireBreath">FireBreath</option>

  </select>
  <script>
    function changeBackground(body, selectElement) {
      selectElement.options[selectElement.selectedIndex].style.backgroundImage
      body.setAttribute('style', 'background-image: ' + selectElement.options[selectElement.selectedIndex].style.backgroundImage + ';');
    }
  </script>

@* Only changed background color within dropdown
<select>
  <option value="">Please choose a background:</option>
  <option value="1">D&D Party</option>
  <option value="2">White Dragon</option>
  <option value="3">Red Dragon</option>
  <option value="4">Fire Breathing</option>
</select> *@
