@{
    ViewData["Title"] = "Messages";
}

@using System.Collections.Generic;
@using VirtualDmScreen.Models;
@model IEnumerable<VirtualDmScreen.Models.Message>;

@foreach (Message message in Model)
{
    <p>
        <i>@message.DateTimeStamp</i>
        <br>
        <b>@message.Character.Name:</b> @message.Text
    </p>
}