@{
    ViewData["Title"] = "Authentication Test";
}
<h1>Hello, @User.Identity.Name!</h1>
<p>This page exists to test authentication and authorization.</p>
<p>@Html.ActionLink("Page that should only vew viewable for DMs", "DmPage");</p>